  <div class="collection">
  	<div>
    <div class="badge-img">
  		<img src="../assets/learning.jpg">
  		<p class="badges-para"> “eLearning doesn't just "happen"! It requires careful planning and implementation.” - Anonymous; “Students do not learn much just sitting in classes listening to teachers, memorizing prepackaged assignments, and spitting out answers</p>
      </div>
  	</div>
    <a href="#!" class="collection-item"><span class="badge">1</span>Albums</a>
    <a href="#!" class="collection-item"><span class="new badge">4</span>Films</a>
    <a href="#!" class="collection-item">Novels</a>
    <a href="#!" class="collection-item"><span class="badge">14</span>Stories</a>
  </div>