<div class="collection">
  <div>
    <div class="badge-img">
      <img src="../assets/elearning.jpeg" align="center">
      <p class="badges-para"> “eLearning doesn't just "happen"! It requires careful planning and implementation.” - Anonymous; “Students do not learn much just sitting in classes listening to teachers, memorizing prepackaged assignments, and spitting out answers</p>
    </div>
  </div>
  <a href="#!" class="collection-item"><span class="badge">1</span><i class="fab fa-angular"></i>&nbsp;&nbsp;&nbsp;Angular</a>
  <a href="#!" class="collection-item"><span class="new badge">4</span><i class="fab fa-react"></i>&nbsp;&nbsp;&nbsp;React</a>
  <a href="#!" class="collection-item"><i class="fab fa-js"></i>&nbsp;&nbsp;&nbsp;Javascripts</a>
  <a href="#!" class="collection-item"><span class="badge">14</span><i class="fab fa-java"></i>&nbsp;&nbsp;&nbsp;Java</a>
</div>