.btn-showaction-sheet{
	text-align: center;
	margin-top: 5%;
}
.modal{
	display: inline;
	margin-top: 4%;
}
.collection-item{
	color: black;

}
img{
	width: 70%;
	padding-top: 3%;
	margin-left: 15%;
	height: 427px;
}