<div>
<div class="btn-showaction-sheet">
	<button class="waves-effect waves-light btn" data-target = "modal1" (click) = "openModal()">Show Action Sheet</button>
</div>

<div class="row">
	<div class="col s12 m5 l5">
		<div id="modal1" class="modal" *ngIf = "modalDisplay">
			<div class="close-mark"><button (click)="closeModal()">X</button></div>
			<div class="modal-content">
				<div class="collection">
					<a href="#!" class="collection-item" (click)="closeModal()">Delete</a>
					<a href="#!" class="collection-item" (click)="closeModal()">Share</a>
					<a href="#!" class="collection-item" (click)="closeModal()">Play</a>
					<a href="#!" class="collection-item" (click)="closeModal()">Favorite</a>
				</div>
			</div>
		</div>
	</div>
	<div class="home-background">
	<img src="../assets/home.jpg">
</div>
</div>
</div>
