.sidenav-div{
	background:white;
	
	height: 100%;
	width: 40%!important;
}
.sidenav{
	position: relative!important;
	padding-top: 20%

}
.nav-item{
	font-weight: 400;
	font-size: 15px;
}
.fa{
	color: #ee6e73;
}