
<div style="background: red;width: 20%;">
<ul class="sidenav" id="mobile-demo">
  <li><a class="nav-link tab-heading" href="/home" [routerLink]="['actionsheets']" [routerLinkActive] = "['active']">Action Sheets</a></li>
  <li><a href="badges.html">Components</a></li>
  <li> <a class="nav-link tab-heading" href="/movies" [routerLink]="['alerts']" [routerLinkActive] = "['active']">Alerts</a></li>
  <li> <a class="nav-link tab-heading" href="#" [routerLink] = "['badges']" [routerLinkActive] = "['active']">Badges</a></li>
</ul>
</div>
